* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
  scrollbar-width: thin;
  scrollbar-color: $primary-color $light-white;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  text-align: center;
  line-height: 1.5;
}
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: $light-white;
}
::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  outline: 1px solid slategrey;
  border-radius: 2rem;
}
