footer {
  background-color: $dark-grey;
  padding: 4.8rem 0;
  .footer__text {
    font-size: 1.3rem;
    color: darken($white-color, 33%);
    a {
      font-size: 1.3rem;
      color: darken($white-color, 33%);
      transition: all 0.2s ease-in-out;
      display: inline-block;
      &:hover,
      &:focus {
        color: $primary-color;
      }
    }
  }

  & hr {
    margin: 1rem auto;
    border: 0;
    width: 50%;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
  }

  svg {
    width: 3rem;
    height: 3rem;
    transition: all ease-in-out 0.2s;
  }
}

.social-links {
  display: flex;
  justify-content: center;

  a {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white-color;
    width: 5rem;
    height: 5rem;
    margin: $default-font-size $default-font-size;
    transition: all ease-in-out 0.2s;

    &:hover,
    &:focus {
      transform: scale(1.1) translateY(-2px);
      .svg-twitter {
        fill: #1da1f2;
      }
      .svg-dev-to {
        fill: #0a0a0a;
      }
      .svg-linkedin {
        fill: #0a66c2;
      }
      .svg-codepen {
        fill: #000;
      }
      .svg-github {
        fill: #181717;
      }
    }
  }
}

.back-to-top svg {
  margin: 1rem 0 $default-font-size;
  transition: all 200ms ease;

  &:hover,
  &:focus {
    transform: translateY(-2px);
  }
}
